.item {
  margin-bottom: 26px;
  /* margin-right: 1.38%; */
  margin-right: 13px;
  /* width: 18.85%; */
  width: 242.79px;
  height: 327.79px;
}

.item .pic_out {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

*,
:after,
:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 3;
  transition: all 0.2s ease-in-out;
  width: 242.79px;
  height: 242.79px;
  overflow: hidden;
}

.iconfont {
  font-size: 30px;
  color: #333;
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.pic {
  position: absolute;
  width: 242.79px;
  height: 242.79px;
  top: 0;
  left: 0;
  transition: transform 0.75s cubic-bezier(0, 1, 0.75, 1);
  border: bolck;
}
.pic:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  display: block;
}

.name {
  margin-top: 254px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.name span {
  cursor: pointer;
  margin-left: 0;
}

.count {
  margin-top: -10px;
  color: #999;
}

.icon-bofang {
  font-size: 16px;
}

.item .pic_out:hover .play {
  display: inline-block;
}

.item .pic_out .cover .play {
  position: absolute;
  top: 22%;
  left: 36%;
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}

.item .pic_out:hover .cover {
  cursor: pointer;
  height: 253px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}

.item .pic_out:hover .pic {
  transform: scale(1.1);
}

.item .pic_out .cover .icon_play {
  font-size: 48px;
  position: relative;
  top: 91px;
  left: -8px;
  color: #fff !important;
  display: none;
}

.item .pic_out:hover .icon_play {
  display: block;
}
